* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eaeded;
}

.app {
  width: 100%;
}

/* HEADER */
.header {
  background: #131921;
  color: white;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header h2 {
  margin-right: auto;
}

.header input {
  padding: 7px;
  width: 150px;
}

.header button {
  padding: 7px 12px;
  border: none;
  background: #febd69;
  cursor: pointer;
  font-weight: bold;
}

.reset {
  background: #f3a847;
}

/* FILTER BAR */
.filters {
  background: white;
  padding: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.filters select,
.filters button {
  padding: 7px 10px;
}

/* GRID */
.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  height: 180px;
  object-fit: contain;
  width: 100%;
}

.card h4 {
  font-size: 14px;
  margin: 10px 0;
  height: 40px;
  overflow: hidden;
}

.price {
  color: #b12704;
  font-weight: bold;
  font-size: 16px;
}

.category {
  font-size: 12px;
  color: gray;
}

.card button {
  margin-top: 10px;
  padding: 7px;
  width: 100%;
  background: #ffd814;
  border: none;
  cursor: pointer;
}

.image-frame {
  width: 500%;
  height: 300px;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  object-fit: contain;
}